@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 10;
}

.logo{
    width: 100px;
    cursor: pointer;
    margin-bottom: 8%;
}

.nav {
    display: flex;
    margin-bottom: 10%;
    width: 100%;
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a  {
    color: var(--primary);
}

.search {
   position: relative;
   width: 200px;
   height: 40px;
   margin-bottom: 10%; 
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: transparent;
    border: 1 solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
    backdrop-filter: blur(10px);
}

.search input::placeholder {
    color:#ffffff;
}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
}

body{
    background: url('') fixed;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar a {
    margin-left: 40px;
    font-size: 18px;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: 0.3s;
}

.navbar a:hover:before {
    width: 100%;
}
body{
    background: #000000;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background: url('Logo/wp2007971-warner-bros-wallpapers.jpg') fixed;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: #ffffff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #073091;
    color: #ffffff;
}
h1{
    margin-bottom: 10px;
}
.container p {
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #ffffff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 6px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 6px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}